.heading{
    color: red;
}
.heading2{
    color:red;
    font-style: italic;
}
.oll{
    color: maroon;
}
.li3{
    font-weight: bold;
    text-decoration-line: line-through;
}
.li31{
    background-color: yellow;
}
.li4{
    font-style: italic;
    text-decoration-line: underline;
}
.ull{
    letter-spacing: 4px;
    color: maroon;
}
.para{
    color: brown;
}
.link{
    font-style: italic;
    color:red;
    text-decoration: none;
    background-color: yellow;
}